<html>
<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <% include partial/nav.ejs %>
  <h1>
    This is the Home page of my site
  </h1>
  <p>
    This website is in initial stages
  </p>
</body>
</html>
