<html>
<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <% include partial/nav.ejs %>
  <h1>
    Updated Successfully!
  </h1>
  <p>
    <%=data.name%> data is successfully updated.
  </p>
</body>
</html>
